<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feng.dao.CompanyMapper" >
  <resultMap id="BaseResultMap" type="com.feng.bean.Company" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="BIGINT" />
    <id column="PROVINCE" property="province" jdbcType="VARCHAR" />
    <result column="TYC_ID" property="tycId" jdbcType="BIGINT" />
    <result column="COMPANY_NAME" property="companyName" jdbcType="VARCHAR" />
    <result column="COMPANY_AIDCODE" property="companyAidcode" jdbcType="VARCHAR" />
    <result column="LEGAL_PERSON_ID" property="legalPersonId" jdbcType="BIGINT" />
    <result column="LEGAL_PERSON_NAME" property="legalPersonName" jdbcType="VARCHAR" />
    <result column="LEGAL_PERSON_TYPE" property="legalPersonType" jdbcType="INTEGER" />
    <result column="LEGAL_PERSON_SCORE" property="legalPersonScore" jdbcType="INTEGER" />
    <result column="REG_NUMBER" property="regNumber" jdbcType="VARCHAR" />
    <result column="COMPANY_TYPE" property="companyType" jdbcType="SMALLINT" />
    <result column="COMPANY_ORG_TYPE" property="companyOrgType" jdbcType="VARCHAR" />
    <result column="COMPANY_TYPE_SCORE" property="companyTypeScore" jdbcType="INTEGER" />
    <result column="REG_LOCATION" property="regLocation" jdbcType="VARCHAR" />
    <result column="ESTIBLISH_TIME" property="estiblishTime" jdbcType="TIMESTAMP" />
    <result column="FROM_TIME" property="fromTime" jdbcType="TIMESTAMP" />
    <result column="TO_TIME" property="toTime" jdbcType="TIMESTAMP" />
    <result column="BUSINESS_SCOPE" property="businessScope" jdbcType="VARCHAR" />
    <result column="REG_INSTITUTE" property="regInstitute" jdbcType="VARCHAR" />
    <result column="APPROVED_TIME" property="approvedTime" jdbcType="TIMESTAMP" />
    <result column="REG_STATUS" property="regStatus" jdbcType="VARCHAR" />
    <result column="REG_CAPITAL" property="regCapital" jdbcType="VARCHAR" />
    <result column="ACTUAL_CAPITAL" property="actualCapital" jdbcType="VARCHAR" />
    <result column="ORG_NUMBER" property="orgNumber" jdbcType="VARCHAR" />
    <result column="ORG_APPROVED_INSTITUTE" property="orgApprovedInstitute" jdbcType="VARCHAR" />
    <result column="FLAG" property="flag" jdbcType="SMALLINT" />
    <result column="PARENT_ID" property="parentId" jdbcType="BIGINT" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="LIST_CODE" property="listCode" jdbcType="VARCHAR" />
    <result column="OWNERSHIP_STAKE" property="ownershipStake" jdbcType="VARCHAR" />
    <result column="SOURCE_FLAG" property="sourceFlag" jdbcType="INTEGER" />
    <result column="NAME_SUFFIX" property="nameSuffix" jdbcType="VARCHAR" />
    <result column="USC_CODE" property="uscCode" jdbcType="VARCHAR" />
    <result column="FORMER_NAME" property="formerName" jdbcType="VARCHAR" />
    <result column="COMPANY_ENNAME" property="companyEnname" jdbcType="VARCHAR" />
    <result column="NEW_COM_ID" property="newComId" jdbcType="BIGINT" />
    <result column="USE_FLAG" property="useFlag" jdbcType="INTEGER" />
    <result column="DESC01" property="desc01" jdbcType="VARCHAR" />
    <result column="DESC02" property="desc02" jdbcType="VARCHAR" />
    <result column="DESC03" property="desc03" jdbcType="VARCHAR" />
    <result column="DESC04" property="desc04" jdbcType="VARCHAR" />
    <result column="DESC05" property="desc05" jdbcType="VARCHAR" />
    <result column="DESC06" property="desc06" jdbcType="VARCHAR" />
    <result column="DESC07" property="desc07" jdbcType="VARCHAR" />
    <result column="DESC08" property="desc08" jdbcType="VARCHAR" />
    <result column="DESC09" property="desc09" jdbcType="VARCHAR" />
    <result column="DESC10" property="desc10" jdbcType="VARCHAR" />
    <result column="CRAWLED_TIME" property="crawledTime" jdbcType="TIMESTAMP" />
    <result column="PUBLISH_TIME" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="URL_LINK" property="urlLink" jdbcType="VARCHAR" />
    <result column="COLLECTOR_NAME" property="collectorName" jdbcType="VARCHAR" />
    <result column="COLLECT_TIME" property="collectTime" jdbcType="TIMESTAMP" />
    <result column="COLLECT_FLAG" property="collectFlag" jdbcType="INTEGER" />
    <result column="CLEANER_NAME" property="cleanerName" jdbcType="VARCHAR" />
    <result column="CLEAN_TIME" property="cleanTime" jdbcType="TIMESTAMP" />
    <result column="CLEAN_FLAG" property="cleanFlag" jdbcType="INTEGER" />
    <result column="UPDATE_REASON" property="updateReason" jdbcType="VARCHAR" />
    <result column="TIME_STAMP" property="timeStamp" jdbcType="TIMESTAMP" />
    <result column="VERSION_ID" property="versionId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    ID, PROVINCE, TYC_ID, COMPANY_NAME, COMPANY_AIDCODE, LEGAL_PERSON_ID, LEGAL_PERSON_NAME, 
    LEGAL_PERSON_TYPE, LEGAL_PERSON_SCORE, REG_NUMBER, COMPANY_TYPE, COMPANY_ORG_TYPE, 
    COMPANY_TYPE_SCORE, REG_LOCATION, ESTIBLISH_TIME, FROM_TIME, TO_TIME, BUSINESS_SCOPE, 
    REG_INSTITUTE, APPROVED_TIME, REG_STATUS, REG_CAPITAL, ACTUAL_CAPITAL, ORG_NUMBER, 
    ORG_APPROVED_INSTITUTE, FLAG, PARENT_ID, UPDATE_DATE, LIST_CODE, OWNERSHIP_STAKE, 
    SOURCE_FLAG, NAME_SUFFIX, USC_CODE, FORMER_NAME, COMPANY_ENNAME, NEW_COM_ID, USE_FLAG, 
    DESC01, DESC02, DESC03, DESC04, DESC05, DESC06, DESC07, DESC08, DESC09, DESC10, CRAWLED_TIME, 
    PUBLISH_TIME, URL_LINK, COLLECTOR_NAME, COLLECT_TIME, COLLECT_FLAG, CLEANER_NAME, 
    CLEAN_TIME, CLEAN_FLAG, UPDATE_REASON, TIME_STAMP, VERSION_ID
  </sql>
</mapper>